.main{
    width: 80%;
    margin-left: 10%;
}

.container_details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.big_img{
    width: 50%;
    height: auto;
}

.right{
    text-align: left;
}