.container{
    max-height: 400px;
    width: 350px;
    margin-bottom: 60px;
    border-radius: 15px;
    text-decoration: none;
}

.container img{
    width: 50%;
    height: auto;
}

.container:hover{
    transition: 0.75s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
