.card_container{
    min-height: 350px;
    width: 350px;
    margin-bottom: 60px;
    border-radius: 15px;
    text-decoration: none;
}

.card_container img{
    width: 50%;
    height: auto;
}

.card_container:hover{
    transition: 0.75s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}